{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Smart Checklist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Подключаем внешний CSS файл -->
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}"> <!-- Проверь, чтобы путь был правильный -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>

<!-- Хедер с меню -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <!-- Иконка "Проекты" слева -->
            <a class="navbar-brand" href="{% url 'project_list' %}">
                <i class="fas fa-home"></i>  <!-- Иконка дома -->
            </a>

            <!-- Иконка "Настройки" слева -->
            <a href="{% url 'settings' %}" class="nav-link text-white">
                <i class="fas fa-cogs"></i>  <!-- Иконка настроек -->
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Переключить навигацию">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        <!-- Кнопка "Выйти" справа -->
                        <li class="nav-item">
                            <form method="POST" action="{% url 'logout' %}" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link text-white p-0">Выйти</button>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link text-white">Войти</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>


<div class="container mt-4">
  {% block content %}{% endblock %}
</div>


<footer>
    <p>&copy; 2025 УИРС8.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
